In [2]:
import pyodbc

conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=JUANCARLOSRUIZA;'
                     'Database=CzechBankingAnalysis;'
                     'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute("SELECT TOP 14 * FROM Account")  # Adjust table name if needed
for row in cursor:
    print(row)

(1, 18, 'POPLATEK MESICNE', '1995-03-24')
(2, 1, 'POPLATEK MESICNE', '1993-02-26')
(3, 5, 'POPLATEK MESICNE', '1997-07-07')
(4, 12, 'POPLATEK MESICNE', '1996-02-21')
(5, 15, 'POPLATEK MESICNE', '1997-05-30')
(6, 51, 'POPLATEK MESICNE', '1994-09-27')
(7, 60, 'POPLATEK MESICNE', '1996-11-24')
(8, 57, 'POPLATEK MESICNE', '1995-09-21')
(9, 70, 'POPLATEK MESICNE', '1993-01-27')
(10, 54, 'POPLATEK MESICNE', '1996-08-28')
(11, 76, 'POPLATEK MESICNE', '1995-10-10')
(12, 21, 'POPLATEK MESICNE', '1997-04-15')
(13, 76, 'POPLATEK MESICNE', '1997-08-17')
(14, 47, 'POPLATEK MESICNE', '1996-11-27')